@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    --background-color: #292E35;
    --font-color: #F9A31E;
    --Edges-color: #E4E5E4;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Roboto Condensed', sans-serif;
    height: 200vh;
}

.main-nav {
    max-height: 4rem;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 800;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 2px 2px 1px black;
}

.nav-colored {
    background: var(--background-color);
}

.nav-transparent {
    background: transparent;
}

.main-nav__logo {
    height: 4rem;
    width: 4rem;
}

.main-nav__item-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-right: 0.8rem;
}

.main-nav__item, .main-nav__item-link {
    margin-left: 0.5rem;
    text-decoration: none;
    color: var(--font-color);
    transition: color 0.6s;
}

.main-nav__item-link:hover {
    color: var(--Edges-color);
    text-shadow: 0px 0px 5px var(--Edges-color);
}